* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-image: url('background.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 200px;
}

body {
    color: #000;
    max-width: 600px; 
    max-height: 400px; 
    margin: 0 auto;
    padding: 1rem; 
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-clip: border-box;
}

.login-header {
    text-align: center;
    margin-bottom: 20px; 
}

#login {
    font-size: 36px;
    color: black;
    margin-bottom: 20px; 
}

.input-container {
    margin-bottom: 20px;
}

.input-field {
    height: 40px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    background: transparent;
    margin-bottom: 10px; 
}

#mail,
#wachtwoord {
    font-size: 25px;
    color: #444;
}

label {
    display: block;
    margin-bottom: 5px; 
    margin-top: 5px; 
}

.registratie {
    text-align: center;
    margin-top: 20px; 
}

#registratie {
    font-size: 30px;
    color: black;
}

#link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
